.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/404
public/api
public/archives
public/categories
public/post
public/tags
public/*.js
public/*.css
public/*.html
public/*.ico
public/*.xml
public/*.jpg
.deploy*/